flows.json
[
    {
        "id": "8c5ad608821ebe2b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "35b07030a806d923",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3e75c009d00c328a",
        "type": "mongodb",
        "hostname": "mongo-3837-ubos-hldmh-mongo-3837.ubos-hldmh",
        "topology": "direct",
        "connectOptions": "authSource=admin",
        "port": "27017",
        "db": "mongo-3837",
        "name": ""
    },
    {
        "id": "9e880eca6cfd7a07",
        "type": "http in",
        "z": "8c5ad608821ebe2b",
        "name": "",
        "url": "/createCompany",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "20c29e85d07cc308"
            ]
        ]
    },
    {
        "id": "20c29e85d07cc308",
        "type": "function",
        "z": "8c5ad608821ebe2b",
        "name": "createCompany",
        "func": "msg.collection='companies';\n\nmsg.payload={\n    ...msg.payload,\n    deleted:false\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 400,
        "y": 160,
        "wires": [
            [
                "f92495afcacb89f1",
                "37ed45b0d9a6f0c6",
                "ddee3df9326f1e35"
            ]
        ]
    },
    {
        "id": "f92495afcacb89f1",
        "type": "mongodb out",
        "z": "8c5ad608821ebe2b",
        "mongodb": "3e75c009d00c328a",
        "name": "Mongo SAVE",
        "collection": "companies",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "37ed45b0d9a6f0c6",
        "type": "http response",
        "z": "8c5ad608821ebe2b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 220,
        "wires": []
    },
    {
        "id": "00dcb6dcb5f516d4",
        "type": "http in",
        "z": "8c5ad608821ebe2b",
        "name": "",
        "url": "/getCompany",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "4bda2a8411870b0c"
            ]
        ]
    },
    {
        "id": "4bda2a8411870b0c",
        "type": "function",
        "z": "8c5ad608821ebe2b",
        "name": "getCompany",
        "func": "msg.collection = 'companies';\nmsg.payload={\n    deleted:false\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 390,
        "y": 340,
        "wires": [
            [
                "028f62706164197f"
            ]
        ]
    },
    {
        "id": "028f62706164197f",
        "type": "mongodb in",
        "z": "8c5ad608821ebe2b",
        "mongodb": "3e75c009d00c328a",
        "name": "Mongo FIND",
        "collection": "companies",
        "operation": "find",
        "x": 570,
        "y": 340,
        "wires": [
            [
                "85ad85d89932883c",
                "097ce8972cde1cc1"
            ]
        ]
    },
    {
        "id": "85ad85d89932883c",
        "type": "http response",
        "z": "8c5ad608821ebe2b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 340,
        "wires": []
    },
    {
        "id": "cf5604712d70de7d",
        "type": "http in",
        "z": "8c5ad608821ebe2b",
        "name": "",
        "url": "/updateCompany",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "ecca5072b765a464"
            ]
        ]
    },
    {
        "id": "ecca5072b765a464",
        "type": "function",
        "z": "8c5ad608821ebe2b",
        "name": "updateCopmany",
        "func": "msg.collection='companies';\n\nmsg.query={\n    _id:objectid(msg.payload._id)\n};\n\ndelete msg.payload._id;\n\nmsg.payload={\n    $set:msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 410,
        "y": 440,
        "wires": [
            [
                "0def7ffb71fa3a68",
                "72a3df6ffa95634f"
            ]
        ]
    },
    {
        "id": "0def7ffb71fa3a68",
        "type": "mongodb out",
        "z": "8c5ad608821ebe2b",
        "mongodb": "3e75c009d00c328a",
        "name": "Mongo Update",
        "collection": "",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "update",
        "x": 640,
        "y": 440,
        "wires": []
    },
    {
        "id": "72a3df6ffa95634f",
        "type": "http response",
        "z": "8c5ad608821ebe2b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 520,
        "wires": []
    },
    {
        "id": "ddee3df9326f1e35",
        "type": "debug",
        "z": "8c5ad608821ebe2b",
        "name": "createdebug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 100,
        "wires": []
    },
    {
        "id": "097ce8972cde1cc1",
        "type": "debug",
        "z": "8c5ad608821ebe2b",
        "name": "getdebug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 280,
        "wires": []
    },
    {
        "id": "138bc9f6dfae7774",
        "type": "http in",
        "z": "8c5ad608821ebe2b",
        "name": "",
        "url": "/deleteCompany",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 580,
        "wires": [
            [
                "8f4fddd85ac6c206"
            ]
        ]
    },
    {
        "id": "8f4fddd85ac6c206",
        "type": "function",
        "z": "8c5ad608821ebe2b",
        "name": "deleteCompany",
        "func": "msg.collection='companies';\nmsg.query = {\n    \"_id\": objectid(msg.payload._id)\n}\n\ndelete msg.payload._id\n\nmsg.payload = {\n    $set: { \"deleted\": true }\n}\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 400,
        "y": 580,
        "wires": [
            [
                "398645ee162a7eec",
                "511b8bfcd54d18d4",
                "ceb8254f293450dd"
            ]
        ]
    },
    {
        "id": "398645ee162a7eec",
        "type": "mongodb out",
        "z": "8c5ad608821ebe2b",
        "mongodb": "3e75c009d00c328a",
        "name": "Mongo Delete",
        "collection": "",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "update",
        "x": 600,
        "y": 580,
        "wires": []
    },
    {
        "id": "511b8bfcd54d18d4",
        "type": "http response",
        "z": "8c5ad608821ebe2b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 660,
        "wires": []
    },
    {
        "id": "ceb8254f293450dd",
        "type": "debug",
        "z": "8c5ad608821ebe2b",
        "name": "delcompany",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 520,
        "wires": []
    },
    {
        "id": "604ae2558635396d",
        "type": "http in",
        "z": "35b07030a806d923",
        "name": "",
        "url": "/createJob",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 80,
        "wires": [
            [
                "8458eec6daacf586"
            ]
        ]
    },
    {
        "id": "8458eec6daacf586",
        "type": "function",
        "z": "35b07030a806d923",
        "name": "createJob",
        "func": "msg.collection='jobs';\nmsg.payload={\n    ...msg.payload,\n    deleted:false,\n    company:objectid(msg.payload.company)\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 340,
        "y": 80,
        "wires": [
            [
                "8a84fba5b0bc7446",
                "fbdcd820588ca43f",
                "2af599ade4e1191e"
            ]
        ]
    },
    {
        "id": "8a84fba5b0bc7446",
        "type": "mongodb out",
        "z": "35b07030a806d923",
        "mongodb": "3e75c009d00c328a",
        "name": "Mongo SAVEJOB",
        "collection": "jobs",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 630,
        "y": 80,
        "wires": []
    },
    {
        "id": "fbdcd820588ca43f",
        "type": "http response",
        "z": "35b07030a806d923",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "2af599ade4e1191e",
        "type": "debug",
        "z": "35b07030a806d923",
        "name": "createdebug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 20,
        "wires": []
    },
    {
        "id": "7aeab76713f4e907",
        "type": "http in",
        "z": "35b07030a806d923",
        "name": "",
        "url": "/getJobs",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 70,
        "y": 300,
        "wires": [
            [
                "e5259748146e1bc1"
            ]
        ]
    },
    {
        "id": "e5259748146e1bc1",
        "type": "function",
        "z": "35b07030a806d923",
        "name": "getJobs",
        "func": "msg.collection = 'jobs';\nmsg.payload={\n    deleted:false,\n    Company:msg.payload.company\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 340,
        "y": 300,
        "wires": [
            [
                "1a7c36b096b96099"
            ]
        ]
    },
    {
        "id": "1a7c36b096b96099",
        "type": "mongodb in",
        "z": "35b07030a806d923",
        "mongodb": "3e75c009d00c328a",
        "name": "Mongo FINDJOB",
        "collection": "jobs",
        "operation": "find",
        "x": 550,
        "y": 300,
        "wires": [
            [
                "688bfaf22881e4cc",
                "c58e2249321a96b4"
            ]
        ]
    },
    {
        "id": "c58e2249321a96b4",
        "type": "debug",
        "z": "35b07030a806d923",
        "name": "getdebug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 240,
        "wires": []
    },
    {
        "id": "688bfaf22881e4cc",
        "type": "http response",
        "z": "35b07030a806d923",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 300,
        "wires": []
    },
    {
        "id": "0d21da776aabfd6c",
        "type": "http response",
        "z": "35b07030a806d923",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 520,
        "wires": []
    },
    {
        "id": "b91ca31b4b08f668",
        "type": "mongodb out",
        "z": "35b07030a806d923",
        "mongodb": "3e75c009d00c328a",
        "name": "Mongo UpdateJob",
        "collection": "",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "update",
        "x": 610,
        "y": 440,
        "wires": []
    },
    {
        "id": "70e2d6431d7f9ac0",
        "type": "function",
        "z": "35b07030a806d923",
        "name": "updateJob",
        "func": "msg.collection='jobs';\n\nmsg.query={\n    _id:objectid(msg.payload._id)\n};\n\ndelete msg.payload._id;\n\nmsg.payload={\n    $set:{\n     ...msg.payload,\n    \"company\":objectid(msg.payload.company)\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 350,
        "y": 440,
        "wires": [
            [
                "b91ca31b4b08f668",
                "0d21da776aabfd6c"
            ]
        ]
    },
    {
        "id": "442d3de32caa5634",
        "type": "http in",
        "z": "35b07030a806d923",
        "name": "",
        "url": "/updateJob",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 440,
        "wires": [
            [
                "70e2d6431d7f9ac0"
            ]
        ]
    },
    {
        "id": "86fff2f40b4e5763",
        "type": "mongodb out",
        "z": "35b07030a806d923",
        "mongodb": "3e75c009d00c328a",
        "name": "Mongo DeleteJob",
        "collection": "",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "update",
        "x": 590,
        "y": 640,
        "wires": []
    },
    {
        "id": "bff932c603a0e4cd",
        "type": "function",
        "z": "35b07030a806d923",
        "name": "deleteJob",
        "func": "msg.collection='jobs';\nmsg.query = {\n    \"_id\": objectid(msg.payload._id)\n}\n\ndelete msg.payload._id\n\nmsg.payload = {\n    $set: { \"deleted\": true }\n}\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 320,
        "y": 640,
        "wires": [
            [
                "86fff2f40b4e5763",
                "0196d97f0644341f",
                "2e248d586cde2b0d"
            ]
        ]
    },
    {
        "id": "a2bac46935cdb356",
        "type": "http in",
        "z": "35b07030a806d923",
        "name": "",
        "url": "/deleteJob",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 640,
        "wires": [
            [
                "bff932c603a0e4cd"
            ]
        ]
    },
    {
        "id": "0196d97f0644341f",
        "type": "http response",
        "z": "35b07030a806d923",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 530,
        "y": 700,
        "wires": []
    },
    {
        "id": "2e248d586cde2b0d",
        "type": "debug",
        "z": "35b07030a806d923",
        "name": "DELJOBS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 580,
        "wires": []
    },
    {
        "id": "2c7486fa3a593d2d",
        "type": "http in",
        "z": "35b07030a806d923",
        "name": "",
        "url": "/getCompanyForJob",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 800,
        "wires": [
            [
                "fa22d9e3f53f42c5"
            ]
        ]
    },
    {
        "id": "fa22d9e3f53f42c5",
        "type": "function",
        "z": "35b07030a806d923",
        "name": "getCompanyForJob",
        "func": "msg.collection = 'companies';\nmsg.payload = {\n    deleted: false\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 380,
        "y": 800,
        "wires": [
            [
                "9f5ca8064fc7d7d9"
            ]
        ]
    },
    {
        "id": "9f5ca8064fc7d7d9",
        "type": "mongodb in",
        "z": "35b07030a806d923",
        "mongodb": "3e75c009d00c328a",
        "name": "Mongo getComp",
        "collection": "",
        "operation": "find",
        "x": 630,
        "y": 800,
        "wires": [
            [
                "5a720d08edb79afc"
            ]
        ]
    },
    {
        "id": "5a720d08edb79afc",
        "type": "function",
        "z": "35b07030a806d923",
        "name": "return",
        "func": "msg.payload=msg.payload.map((e=>{\n    return{\n        label:e.name,\n        value:e._id\n    }\n}))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 830,
        "y": 800,
        "wires": [
            [
                "00809390fa1cf642"
            ]
        ]
    },
    {
        "id": "00809390fa1cf642",
        "type": "http response",
        "z": "35b07030a806d923",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 990,
        "y": 800,
        "wires": []
    }
]